body{
   background-image: linear-gradient(#6db4ef, #188DEC);
	 font-family: arial;
   z-index: 1;
   height: 100%;
   padding: 0;
   margin: 0;
}

[draggable] {
  cursor: move;
}

main{
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  /* padding: 2em 0; */
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  text-align: center;
}

.names{
	margin: 0 auto;
	width: 100%;
  padding-top: 2em;
}

#mickeyPicture{
	position: fixed;
	width: 28%;
	margin: -10em 0 0 65vw;
	background-image: url(../images/Mickey-Mouse-PNG.png);
	height: 16em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
  display: none;
}

#picture img{
  position: relative;
  border-radius: 50%;
  height: 50vh;
  width: 50vh;
}

#hill{
  position: fixed;
  bottom: 0;
  margin-left: -10vw;
  width: 50%;
  height: 10vh;
  background-image: linear-gradient(#30D400, #28a600);
  border-top-right-radius: 350px;
  transform: skew(50deg);
  display: none;
}

#hill2{
  position: fixed;
  bottom: 0;
  margin-left: 50vw;
  width: 60%;
  height: 6vh;
  background-image: linear-gradient(#30D400, #28a600);
  border-top-left-radius: 200px;
  transform: skew(-50deg);
  display: none;
}

@media only screen and (min-width: 1024px) {


}

@media only screen and (min-width: 1366px) {
  #mickeyPicture{
  	position: fixed;
  	width: 30%;
  	margin: -8vh 0 0 68vw;
  	background-image: url(../images/Mickey-Mouse-PNG.png);
  	height: 20em;
  }

}
